/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

$agrisignal-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Roboto, "Helvetica Neue", sans-serif',
  ),
));

html {
  @include mat.all-component-themes($agrisignal-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }